form {
    display: inline-block;
    outline: 1px solid yellowgreen;
    margin-right: 10px;
    padding: 5px;
}

ul {
    display: inline-block;
}

table {
    display: inline-block;
    margin-left: 20px;
    outline: 1px solid black;
}

#practice-log__body {
    text-align: center;
}
